@model IEnumerable<PROG3050_CVGSClub.Models.MemberEvents>

@{
	ViewData["Title"] = "Index";
}

<h2 style="text-align:center">Subscribed Events</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th></th>
        </tr>
    </thead>
	<tbody>
		@foreach (var item in Model)
		{ 
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Event.EventName)
				</td>
				<td>
					<a asp-action="Delete" asp-route-id="@item.MemberEventsId">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
