@model IEnumerable<PROG3050_CVGSClub.Models.Members>

@{
    ViewData["Title"] = "Search for Friend/Family";
}

<h2>Search for Friend/Family</h2>
<hr />
<input type="text" id="filterInput" onkeyup="FilterTable()" placeholder="Search for names..">
<hr />
<table class="table" id="memberTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DisplayName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayName)
                </td>
                <td>
                    <a asp-action="Add" asp-route-id="@item.MemberId">Add</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div>
    <a asp-action="Index">Back to Friend List</a>
</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function FilterTable() {
        var inputId, filterString, tableId, tableRow, tableData, textValue;

        tableId = document.getElementById("memberTable");
        inputId = document.getElementById("filterInput");
        filterString = inputId.value.toUpperCase();
        tableRow = tableId.getElementsByTagName("tr");

        for (i = 0; i < tableRow.length; i++) {
            tableData = tableRow[i].getElementsByTagName("td")[0];
            if (tableData) {
                textValue = tableData.textContent || tableData.innerText;
                if (textValue.toUpperCase().indexOf(filterString) > -1)
                    tableRow[i].style.display = "";
                else
                    tableRow[i].style.display = "none";
            }
        }
    }
</script>