@{
	ViewData["Title"] = "Checkout";
}
<!DOCTYPE html>


<h2 style="text-align:center">Cart Checkout</h2>

<body>
	<p>Thank-you for your purchase! Your new games have been added to your Game Library, <a asp-area="" asp-controller="GameLibraries" asp-action="Index">Click Here</a> to view them!</p>
</body>