@model IEnumerable<PROG3050_CVGSClub.Models.WishLists>

@{
    ViewData["Title"] = "Index";
}

<h2 style="text-align:center">Wishlist</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Game.GameName)
			</td>
			<td style="text-align:center">
				<a asp-action="Delete" asp-route-id="@item.WishId">Delete</a>
			</td>
		</tr>
}
    </tbody>
</table>
