@{
	ViewData["Title"] = "Subscribe";
}

<h2>Subscription Confirmation</h2>

<p>
	<a asp-area="" asp-controller="MemberEvents" asp-action="Index">View My Events</a>
</p>

<p>
	You have successfully subscribed to attend this event! If you wish to view all of your Events, please click above, otherwise please click <a asp-area="" asp-controller="Home" asp-action="Index">here</a>
</p>