@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<br />
<h1>Welcome to CVGS Club!</h1>
<br />
<br />
<br />
<div class="row">
    <div class="column">
        <h2>Application uses</h2>
        <ul>
            <li>CVGS customers can log in and access member-only features.</li>
            <li>Members can customize their accounts, including personal information and preferences.</li>
            <li>Add other members to their "Friends &amp; Family" list.</li>
            <li>Fill a wish list with games that they are interested in.</li>
            <li>Rate and review games that they have played, as well as add new games to a cart and purchase them.</li>
            <li>View a list of upcoming events and register for them.</li>
        </ul>
    </div>
    <div class="column">
        <img width="500" height="300" src="~/images/videogames.jpg" />
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<h3 class="center">Developed by:</h3>
<h4 class="center">Nathaniel Saunders, Leunard Gervalla, Andrew Truong and Chris Symons</h4>
